* {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    color: aliceblue;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header {
    background-color:gray;
    padding: 3em 0 2em;
    text-align: center;
    margin-left: 143px;
    margin-right: 143px;
    margin-top: 10px;
    

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
    flex-grow: 1;
    margin: 0 20px;
    
 
}

.box {
    height: 250px;
    width: 340px;
    background-color: rgb(39, 63, 63);
    margin: 10px;
}
